@import "tailwindcss";

/* Define global font variables */
:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-dark: #1E1E1E;
  --color-light: #474747;
  --color-bridgeBlue: #0080E1;
}

/* Apply Inter as the default font */
body {
  font-family: var(--font-inter);
  color: var(--color-dark);
}

/* Create a Montserrat class */
.font-montserrat {
  font-family: var(--font-montserrat);
}

.text-light {
  color: var(--color-light);
}

.bg-bridgeBlue {
  background-color: var(--color-bridgeBlue);
}

.border-bridgeBlue {
  border-color: var(--color-bridgeBlue);
}

.border-lightDark {
  border-color: var(--color-light);
}